@model FornecedorModel
@{
    ViewData["Title"] = "Confirmação de apagar";
}
<div class="text-center">
    <h3>
    Realmente Deseja Apagar o Fornecedor (@Model.Nome) ?
    </h3>
    <a class="btn btn-primary" role="button" asp-controller="Cadastro" asp-action="Index"> Cancelar</a>
    <a class="btn btn-danger" role="button" asp-controller="Cadastro" asp-action="Apagar" asp-route-id="@Model.Id"> Confirmar</a>
</div>