@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Este sistema permite cadastrar, editar, listar e excluir fornecedores de forma prática e organizada.</p>
</div>
